                <div class="animate">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-primary card-inverse">
                                    <span class="card-title">{{ 'Add' | translate }}</span>
                                </div>
                                <div class="card-block">
                                    <div class="form-group">
                                    <label for="email">{{ 'Text' | translate }}:</label>
                                    <textarea type="text" class="form-control" name="name" [(ngModel)]="newAffair.name" #name="ngModel" required ></textarea>
                                    </div>
                                    <div class="form-group form-inline">
                                    <label for="pwd">{{ 'Date' | translate }}:</label>
                                        <div class="col-md-8 col-lg-8 ">
                                        <input type="date" class="form-control" [(ngModel)]="newAffair.date" #date="ngModel" />
                                        <a type="button" class="btn btn-xs btn-primary" (click)="create(newAffair)"><span class="glyphicon glyphicon-plus"></span>{{ 'Add' | translate }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>		

<!--
                <ul class="list-group">
                    <li class="list-group-item">
                        Bootstrap Switch Default
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionDefault" class="label-default"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bootstrap Switch Primary
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionPrimary" class="label-primary"></label>
                        </div>
                    </li>
                </ul>
-->

				<div class="row" *ngFor="let affair of affairs">

                    <div class="col-md-8" [hidden]="editingData[affair.id]" [innerHTML]="affair.name"></div>
                    <div class="col-md-8"[hidden]="!editingData[affair.id]"><textarea class="form-control" [(ngModel)]="affair.name"></textarea></div>
                    <div class="col-md-3"[hidden]="editingData[affair.id]">{{affair.date}}</div>
                    <div class="col-md-3"[hidden]="!editingData[affair.id]"><input type="date" class="form-control" [(ngModel)]="affair.date" #date="ngModel" /></div>
                    <div class="col-md-1">
                        <ul class="nav">
                            <li class="dropdown">
                            <a href="#" data-toggle="dropdown">...</a>
                            <ul class="dropdown-menu">
                                <li [hidden]="editingData[affair.id]"><a (click)="editAffairs(affair)">{{ 'Edit' | translate }}</a></li>
                                <li [hidden]="editingData[affair.id]" class="divider"></li>
                                <li [hidden]="!editingData[affair.id]"><a (click)="cancelAffairs(affair.id)">{{ 'Cancel' | translate }}</a></li>
                                <li [hidden]="!editingData[affair.id]" class="divider"></li>
                                <li [hidden]="editingData[affair.id]"><a (click)="deleteAffairs(affair)">{{ 'Delete' | translate }}</a></li>
                                <li [hidden]="!editingData[affair.id]" class="divider"></li>
                                <li [hidden]="!editingData[affair.id]"><a (click)="updateAffairs(affair)">{{ 'Save' | translate }}</a></li>
                                <li [hidden]="!editingData[affair.id]" class="divider"></li>
                            </ul>
                        </ul>
                    </div>

                </div>		
