<div class="animate">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-primary card-inverse">
					<span class="card-title">{{ 'Add' | translate }}</span>
				</div>
				<div class="card-block">
				  <div class="form-group">
					<label for="email">{{ 'Text' | translate }}:</label>
					<textarea type="text" class="form-control" name="name" [(ngModel)]="newAffair.name" #name="ngModel" required ></textarea>
				  </div>
				  <div class="form-group form-inline">
					<label for="pwd">{{ 'Date' | translate }}:</label>
					  <div class="col-md-8 col-lg-8 ">
						<input type="date" class="form-control" [(ngModel)]="newAffair.date" #date="ngModel" />
						<a type="button" class="btn btn-success" (click)="create(newAffair)">{{ 'Add' | translate }}</a>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	</div>	
</div>		
    		

<div class="row" *ngFor="let affair of affairs">
	<div class="col-md-6" [hidden]="editingData[affair.id]">{{affair.name | uppercase}}</div>
	<div class="col-md-6"[hidden]="!editingData[affair.id]"><input type="text" class="form-control" [(ngModel)]="affair.name" /></div>
	<div class="col-md-2"[hidden]="editingData[affair.id]">{{affair.date}}</div>
	<div class="col-md-2"[hidden]="!editingData[affair.id]"><input type="date" class="form-control" [(ngModel)]="affair.date" #date="ngModel" /></div>
	<div class="col-md-2"[hidden]="editingData[affair.id]"><a type="button" class="btn btn-danger" (click)="deleteAffairs(affair)">{{ 'Delete' | translate }}</a></div>
	<div class="col-md-2"[hidden]="editingData[affair.id]"><a type="button" class="btn btn-primary" (click)="editAffairs(affair)">{{ 'Edit' | translate }}</a></div>
	<div class="col-md-2"[hidden]="!editingData[affair.id]"><a type="button" class="btn btn-danger" (click)="cancelAffairs(affair.id)">{{ 'Cancel' | translate }}</a></div>
	<div class="col-md-2"[hidden]="!editingData[affair.id]"><a type="button" class="btn btn-success" (click)="updateAffairs(affair)">{{ 'Save' | translate }}</a></div>
</div>		

